.block
  .secondary-navigation
    ul.button-group.radius
      li.first
        = link_to t('web_app_theme.list'), vendors_path, class: 'button'
      li= link_to t('web_app_theme.new'), new_vendor_path, class: 'button'
      li.active
        = link_to t('web_app_theme.edit'), edit_vendor_path, class: 'button success'
      li= link_to t('web_app_theme.show'), vendor_path, class: 'button'
      -if @vendor.archive
        li= link_to t(:restore), switch_vendor_path(@vendor), data: {confirm: t(:are_you_sure)}, method: :put, title: t(:restore), class: 'button secondary'
      -else
        li= link_to t(:archive), switch_vendor_path(@vendor), data: {confirm: t(:are_you_sure)}, method: :put, title: t(:archive), class: 'button secondary'
  .content
    h2.title
      = t('web_app_theme.edit') + ' '
      = t(:vendor).downcase
    .inner
      = render 'form'
