.center {
  text-align: center;
}

.archive {
  color: #777777;
}
.restore {
  color: darkorange;
}
.delete {
  color: red;
}
.edit {
  color: green;
}
ul.right li {
  text-align: left;
}
ul.dropdown li a:hover {
  font-weight: bold;
}
h2.center {
  margin-top: 240px;
}
