thead th {
  white-space: nowrap;
  overflow: hidden;
}
th .current {
  padding-right: 12px;
  background-repeat: no-repeat;
  background-position: right center;
}
.current {
  color: #008CBA;
}
th .asc {
}

th .desc {
}